:root {
  --invitaion_background: rgb(3, 40, 51);
}
.dashboard {
  width: 100vw;
  height: 100vh;
  /* background-color: #333; */
  background-color: #27292d;
  display: flex;
}
.sideNav {
  position: absolute;
  top: 0;
  width: 6rem;
  height: 100vh;
  background-color: #1d1e20;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;

  /* display: none; */
}
.freind__side-bar {
  width: 30rem;
  height: 100vh;
  background-color: #222;
  margin-left: 6rem;
  z-index: 1;
  /* display: none; */
}
.top__nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  height: 5rem;
  background-color: #1d1e20;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
  padding-left: 30rem;
}
.call__btn {
  position: absolute;
  right: 3%;
  z-index: 1;
  top: 1rem;
}
.video__call-btn {
  position: absolute;
  top: 1rem;
  right: 10%;
  z-index: 1;
  cursor: pointer;
}
.chat {
  padding: 6rem 2rem;

  width: 100%;
  height: calc(100vh - 6rem);
  overflow-y: auto;
}

.message__container {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.6rem;
  width: max-content;
  max-width: 50rem;
  font-weight: 500;
}
.sender {
  background-color: #3d9461;
  color: rgb(0, 0, 0);
}
.reciver {
  background-color: #d1d1d2;
  /* margin-left: 100; */
  position: sticky;
  left: 100%;
}
.message {
  font-size: 1.4rem;
  word-wrap: break-word;
}
.chat-area-footer {
  display: flex;
  align-items: center;
  height: 6rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 5%;
}
.left__icon {
  display: flex;
  gap: 2rem;
}

.send__message-btn {
  position: absolute;
  right: 39%;
  top: 40%;
  cursor: pointer;
}
.imoji__icon {
  position: absolute;
  top: 40%;
}
.message__input-container {
  width: 65%;
}
.message__input {
  border: none;
  padding: 1.2rem;
  font-size: 1.6rem;
  width: 80%;
  color: #d1d1d2;
  background-color: #2f3236;
  border-radius: 0.6rem;
  outline: none;
  margin-right: 1rem;
}

.chat-area-footer svg {
  width: 2rem;
  color: #eee;
}
.chat-area-main {
  height: auto;
}
.chat-area-footer svg:hover {
  color: rgb(97, 97, 97);
}
.chat_icon {
  background-color: #056d56;
  cursor: pointer;
}
.chat_icon svg {
  width: 3rem;
  margin: 1rem;
  fill: rgb(255, 255, 255);
  stroke-width: 0.5rem;
}

.add__freind-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}
.freind__list {
  /* background-color: rebeccapurple; */
  height: 45rem;
}
/* .freind__list:hover {
  overflow-y: auto;
} */
.add__freind-btn {
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: none;
  outline: none;
  padding: 0.3rem 3rem;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.4rem;
  background-color: #056d56;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}
.add__freind-btn:hover {
  background-color: #222;
}
.add__freind-btn svg {
  width: 2rem;
  fill: rgb(255, 255, 255);
}
.private__chat-container {
  margin: 1.5rem 0;

  color: #777474;
  font-weight: 600;
  text-align: center;
}
.private__chat-text {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.friend {
  display: flex;
  position: relative;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.freind:hover {
  background-color: #333;
}
.friend__image {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background-color: rgb(106, 101, 112);
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.4rem;
}
.avatar {
  display: flex;
  gap: 0.5rem;
}

.friend:hover {
  background-color: #777;
}
.friend__username {
  font-size: 1.5rem;
  color: #d1d1d2;
  margin-top: 0rem;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
.online {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: rgb(59, 148, 59);
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}
.offlien {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: rgb(80, 83, 80);
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}
.string__avatar {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
.invitaion__action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 2rem;
  gap: 0.6rem;
}
.denied {
  width: 2.2rem;
  height: 2.2rem;
  fill: rgb(255, 0, 0);
  cursor: pointer;
}

.accept {
  width: 1.8rem;
  height: 1.8rem;
  fill: rgb(5, 148, 53);
  cursor: pointer;
  margin-bottom: 0.3rem;
}
.transparent__btn {
  border: none;
  outline: none;
  background: none;
}
.invitaion {
  margin-top: 0;
  padding-bottom: 0;
  cursor: default;
  background-color: var(--invitaion_background);
}
.invitaion:hover {
  background-color: var(--invitaion_background);
}
.invitaion__text {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: #777;
  font-family: inherit;
  letter-spacing: 0.1rem;
}

.call__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 40rem;
  background-color: #d1d1d2;
  border-radius: 0.6rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.calleeImg__container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #777;
}
.callee__username {
  color: #1d1e20;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}
.call__offer-action {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}
.dialog {
  max-width: 30rem;
  height: 15rem;
  background-color: #eee;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
}
.close__modal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.cancel__invit-btn {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: #725151;
  padding: 0.2rem 1rem;
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.send__invit-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: #808080;
  padding: 0.2rem 1rem;
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.invit__input {
  border-radius: 10rem;
  outline: none;
  max-width: 25rem;
  height: 2rem;
  padding: 1.2rem 1rem;
  font-family: "Poppins";
  border: none;
  border: 1px solid rgb(46, 46, 46);
  font-weight: 50;
  font-family: 1.2rem;
}
